#movieDetailsHeader{
    width: 100vw;
    height: 75vh;
    background-image: url('@/assets/homepage/jpeg/movieDetail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 10px dashed #000;
    outline-offset: 10px;
}

.navHeader{
    margin-top: 15vh;
}

.moviesList{
    padding: 5vh 1vw;
    display: flex;
}

.nav-link{
    color: #dd4a4a !important;
}

.nav-link:hover{
    background-color: #e66c6c;
    color: #fff !important;
}

.nav-pills .nav-link.active{
    background-color: #dd4a4a !important;
    color: #FFF !important;
}

.modal {
    z-index: 1050; /* Adjust the value as needed */
  }
  
  .modal-backdrop {
    z-index: 1040; /* Adjust the value as needed, should be lower than modal z-index */
  }
  