.movie-item {
    transition: all .3s ease-in-out;
}

.movie-item:hover {
    outline: 5px solid #d76b2a;
    background-size: 150% 150%;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding: 20px 10px;
    margin-bottom: 50px;
}

.info-container p{
    color: #000000;
}

.movie-name {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 1.3;
    color: #cd3737;
    font-weight: bold;
}

.btn-get-ticket {
    color: #fff;
    /* background-color: #d96c2c; */
    background-color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px;
    color: #737373;
    transition: all 0.5s ease;
}

.movie-item:hover  .btn-get-ticket {
    background-color: #d76b2a;
    color: #fff;
}

.splide__slide {
    height: 570px;
}

.splide__track {
    overflow: visible !important;
}

.btn-trailer {
    border: none;
    padding: 10px 20px;
    background-color: #d76b2a;
    color: #fff;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.movie-item:hover .btn-trailer {
    background-color: #fff;
    color: #d76b2a;
}
