.news-header {
    width: 100vw;
    height: 577px;
    background-image: url('@/assets/homepage/jpeg/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 10px dashed #000;
    outline-offset: 10px;
}

.news-header-infor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;

    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.92);
}

.blog {
    font-size: 50px;
    font-weight: 700;
}

a:hover {
    color: #D96C2B !important;
}

.content-container {
    display: flex;
    gap: 40px;
    padding: 70px;
}
.post-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 100px;
}

.post-title {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

.post-title:hover {
    color: #D96C2B;
}

.action-container {
    display: flex;
    color: #000;
    letter-spacing: normal;
    gap: 30px;
}

.action-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.action-item i {
    color: #D96C2B;
}

.action-item p {
    color: #737373;
}

.action-item:not(:first-child) p:hover {
    color: #D96C2B;
    cursor: pointer;
}

.post-description {
    text-align: left;
    font-size: 18px;
    color: #7a7a7a;
    width: 90%;
}

.button-read-more {
    padding: 12px 25px;
    background-color: #D96C2B;
    color: #fff;
    outline-color: #D96C2B;
    box-shadow: none;
    border: none;
    transition: background .3s ease;
}

.button-read-more:hover {
    background-color: #fff;
    outline: 1px solid #D96C2B !important;
    color: #D96C2B;
}
.page-number{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: rgb(173, 173, 173, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#712f06;
    cursor: pointer;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
}

.page-number:hover{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: #712f06;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
}

.current-page-number{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: #712f06;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
}

.count-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap:8px;
    bottom: 12px;
}